* {
  position: relative;
  box-sizing: border-box;
}

.imgbox {
  width: 30%;
}
.imgbox .imgbox-inner {
  width: 100%;
  padding-top: 75%;
  border: 1px solid blue;
}
.imgbox .imgbox-inner .imgbox-fit {
  border: 1px solid #000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.imgbox .imgbox-inner .imgbox-fit .image {
  width: 100%;
  display: block;
  object-fit: cover;
  height: inherit;
  object-position: center;
}
